[submodule "src/wzWidget"]
	path = src/wzWidget
	url = https://github.com/zeodotdev/wzWidget.git
	branch = kicad/macos-wx-3.2
[submodule "libraries"]
	path = libraries
	url = https://github.com/zeodotdev/zeo-libraries.git
	branch = main
