# Standard Python stuff
__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
.DS_Store
.vscode/
.idea/

# We don't want to lock dependency versions for this library right now
poetry.lock

# These should be generated, not checked in
kipy/proto/**/*_pb2.py
kipy/proto/**/*_pb2.pyi
kipy/kicad_api_version.py

# Tooling
.nox
.ruff_cache

# Documentation
docs/_build
